<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eventer.paymentservice.dao.mapper.PlayerMapper">

    <resultMap type="User" id="player">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="identityNumber" column="identity_number"/>
    </resultMap>


    <insert id="saveUser" parameterType="User">
        insert into user
            (id, username, identity_number)
        values (#{id}, #{username}, #{identityNumber})
    </insert>

    <select id="findPlayer" parameterType="Long" resultMap="user">
        select *
        from user
        where id = #{id}
    </select>

    <select id="findUserByIdentityNumber" parameterType="String" resultMap="user">
        select *
        from user
        where identity_number = #{identityNumber}
    </select>

    <update id="updatePlayer" parameterType="User">
        update player
        set username        = #{username},
            identity_number = #{identityNumber}
        where id = #{id}
    </update>

</mapper>