<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="logImpl" value="SLF4J"/>
    </settings>
    <typeAliases>
        <package name="com.eventer.eventticket.dto"/>
        <package name="com.eventer.eventticket.domain"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.EnumTypeHandler"
                     javaType="com.eventer.eventticket.domain.TicketStatus"/>
        <typeHandler handler="org.apache.ibatis.type.EnumTypeHandler"
                     javaType="com.eventer.eventticket.domain.EventStatus"/>
        <!--typeHandler handler="org.apache.ibatis.type.EnumTypeHandler"
                     javaType="com.eventer.eventticket.domain.Status"/-->
    </typeHandlers>
    <mappers>
        <mapper resource="db/com.eventer.eventticket.dao.mapper/CustomerMapper.xml"/>
        <mapper resource="db/com.eventer.eventticket.dao.mapper/EventMapper.xml"/>
        <mapper resource="db/com.eventer.eventticket.dao.mapper/TicketMapper.xml"/>
    </mappers>
</configuration>