<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="logImpl" value="SLF4J"/>
    </settings>
    <typeAliases>
        <package name="com.eventer.wallet.dto"/>
        <package name="com.eventer.wallet.domain"/>
    </typeAliases>
<!--    <typeHandlers>-->
<!--        <typeHandler handler="org.apache.ibatis.type.EnumTypeHandler"-->
<!--                     javaType="com.eventer.wallet.domain.BalanceType"/>-->
<!--        <typeHandler handler="org.apache.ibatis.type.EnumTypeHandler"-->
<!--                     javaType="com.eventer.wallet.domain.TransactionStatus"/>-->
<!--    </typeHandlers>-->
<!--    <mappers>-->
<!--        <mapper resource="db/com.eventer.wallet.dao.mapper/PaymentTransactionMapper.xml"/>-->
<!--        <mapper resource="db/com.eventer.wallet.dao.mapper/UserMapper.xml"/>-->
<!--    </mappers>-->
</configuration>